/*
* styles for settings page
*/

.entry-title{
	margin:10px auto !important;
} 
.crf_contact_form input[type=radio]{
  -webkit-appearance: radio !important;
   -moz-appearance:radio !important;
   appearance: radio !important;
   margin:0 !important;
   width:auto;
   border:none \9;
   border:none \8;
   border:none \7;
}
.crf_contact_form input[type=checkbox]{
	 -webkit-appearance: checkbox !important;
   -moz-appearance:checkbox !important;
   appearance: checkbox !important;
   margin:0 !important;
   width:auto;
   border:none \9;
   border:none \8;
   border:none \7;
  
 }
 #recaptcha_response_field{
	display:inline-block;
	height:17px;
}
#recaptcha_widget_div table{
	table-layout:inherit;
}
#recaptcha_widget_div table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td{
	line-height:normal !important;
}
th:empty, td:empty, th.pad, td.pad {
    opacity:1;
}
.crf_contact_form * {
    text-align: left !important;
    
}
.recaptcha_input_area #recaptcha_response_field{
	min-height:17px !important;
	margin-top:inherit;
}


.crf_contact_form input[type="checkbox"], .crf_contact_form input[type="radio"] {
	top:1px;
	*margin:0px;
	float:none;
}
.crf_contact_form .crf_heading h1{}
.crf_contact_form p,
.widget .crf_contact_form p {
    margin: 0 !important;
}
.crf_contact_form .cptch_block label + br,
.crf_contact_form .cptch_block span + br,
.crf_contact_form .cptchpr_block label + br,
.crf_contact_form .cptchpr_block span + br {
    display: block !important;
}
.crf_contact_form .cptch_block br,
.crf_contact_form .cptchpr_block br {
    display: none;
}
.crf_input_captcha .cptch_block ~ .gglcptch,
.crf_input_captcha .cptchpr_block ~ .gglcptch {
    padding: 20px 0 0;
}
.crf_contact_form .gglcptch #recaptcha_widget_div {
    width: 320px !important;
}
.crf_label,
.crf_input,
.crf_select,
.crf_checkbox {
   max-width: 350px;
}
.crf_input_captcha {
    margin: 20px 0;
}
.crf_contact_form input[type="text"],
.crf_contact_form input[type="file"],
.crf_contact_form select,
.crf_contact_form textarea,
.widget .crf_contact_form input[type="text"],
.widget .crf_contact_form input[type="file"],
.widget .crf_contact_form select,
.widget .crf_contact_form textarea {
    width: 100%;
    margin: 0 !important;
    box-sizing: border-box;
}
.crf_contact_attachment_extensions {
	font-size: 10px !important;
}
.crf_input_submit {
    padding: 10px 0 0;
}
.crf_contact_form label {
	display:inline-block;
	width:auto;
}
.crf_contact_form input.crf_contact_submit {
    cursor: pointer !important;
    text-align: center !important;
    margin-bottom: 10px !important;
}
.crf_label:first-child {
    padding: 0;
}
.crf_label,
.crf_checkbox {
    padding: 10px 0 0;
}
.crf_input,
.crf_select {
    /*position: relative;*/
}
.crf_error_text {
	color: red;
	text-align: left;
}
/* crf_settings_page */
.crf_hidden {
	display: none;
}
.crf_contact_form input[type="checkbox"],
.crf_contact_form input[type="radio"] {
	position: relative;
	
}
.crf_info {
	color: rgb(136, 136, 136);
	font-size: 10px;
	clear: both;
}
#crf_contact_attachment {
	margin-bottom:0;
}
.crf_change_label_block input, .crf_action_after_send_block input {
	margin: 1px 0;
}
.crf_change_label_block input[type="text"],
.crf_action_after_send_block input[type="text"] {
	width: 300px;
}
.crf_action_after_send_block  input[type="text"] {
	width: 250px;
}
.formtable input[type="text"] {
	min-height:30px;}
.formtable select{
	min-height:33px;}	
.crf_label_language_tab {
	float: left;
	padding: 2px 5px;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #DFDFDF;
	background: url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
	cursor: pointer;
	margin-right: 3px;
}
.crf_language_tab {
	border: 1px solid #DFDFDF;
}
.crf_active {
	color: #21759B;
}
.crf_delete {
	color: red;
	display: block;
	float: right;
	margin-left: 7px;
	position: relative;
	right: -3px;
}
.crf_language_tab_block_mini {
    background: url("../images/toggle-arrow.png") no-repeat scroll 1px -26px transparent;
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    line-height: 18px;
    padding-left: 22px;
    color: #888888;
    font-size: 10px;
}
.crf_language_tab_block_mini:hover {
	opacity: 0.7;
}
.crf_language_tab_block {
	padding: 5px 10px 5px 5px;
}
.crf_help_box {
	background-image: url("../images/tooltip_icons.png");
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 29px;
	position: relative;
	margin: 0 10px;
	width: 29px;
	clear: none !important;
}
.crf_hidden_help_text {
	background: #FFF;
	border: 1px solid #DCDCDC;
	border-radius: 4px;
	left: 40px;
	padding: 5px 10px;
	position: absolute;
	width: 240px;
	line-height: 1.5;
	z-index: 10;
}
.crf_hidden_help_text:before {
	content: url("../images/help.png");
	left: -10px;
	position: absolute;
	top: 7px;
}
#crfpr_left_table {
	margin-right: 30px;
	float: left;
}
#crfpr_right_table {
	width: 500px;
	float: left;
}
.crf_contact_form div {
	clear: both;
}
.crf_info {
	color: rgb(136, 136, 136);
	font-size: 10px;
	clear: both;
}
#crfpr_shortcode {
	width: 330px;
	margin-top: 30px;
	max-width: 330px;
}
#crfpr_shortcode_code {
	height: 20px;
	background: #EAEAEA;
	border: 1px solid #DCDCDC;
	padding: 10px;
}
#crf_shortcode code {
	white-space:nowrap;
	background: #EAEAEA;
}
.textareaa{
	line-height:normal;
	resize:none;
	overflow:auto !important;
	overflow:auto \9;
	overflow:auto \8;
	overflow:auto \7;
	overflow:auto \6;

}
/* crf_settings_table */
.crf_settings_table th, .crf_settings_table td {
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	height: 25px;
	padding: 2px 10px;
	text-align: left;
}
#crf_additions_options {
    font-size: 16px;
    font-weight: bold;
}


#crf-form .info-text {margin-bottom: 12px;
font-weight: bold; text-align:left;}

#crf-form .crf_contact_form .formtable {margin-bottom: 10px;}

.crf_input .remove {padding-left: 10px;}

.crf_contact_attachment .fileinput {padding-bottom: 10px;}

.crf_contact_attachment .fileinput a {padding-top: 10px;
float: left;}
.crf_estric{ font-weight:bold; color:red;}
.crf_label label{
	margin-bottom:3px;
}